
.container-home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.container-data {
    width: 100%;
    height: 53.125rem;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0;
}

.container-title {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.dynamic-background-home {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    object-fit: cover;
}

.box-title {
    width: 90%;
    margin: 4.375rem auto 9.37rem auto;
}

.box-title h1 {
    font-size: 3.75rem;
    line-height: 0.8;
    font-weight: 300;
    mix-blend-mode: difference;
    color: white;
}

.box-title h1 span {
    font-weight: 800;
}


.search-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 50px 0 0 0;
}

.search-box button, input {
    width: 7.5rem;
    height: 1.87rem;
    border: none;
    background-color: rgba(108, 108, 108, 0.44);
    border-radius: 0.31rem;
}

.search-box input {
    width: 18.75rem;
    margin: 0 0 1.25rem 0;
}

.search-box button {
    cursor: pointer;
    color: #eaeaea;
    font-weight: bold;
}

.search-box input::placeholder {
    color: #eaeaea;
    padding-left: 0.62rem;
}

.home-loader {
    width: 2.5rem;
    margin: 0 0 0 10px;
}

/*CURVES*/

.custom-shape-divider-bottom-1653861607 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653861607 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1653861607 .shape-fill {
    fill: #FFFFFF99;
}


/*RESPONSIVE */


@media only screen and (max-width: 320px) {
    .search-box input {
        width: 12.5rem;
    }
}

@media only screen and (max-width: 425px) {
    .box-title {
        margin: 10px auto 80px auto;
    }
}

@media only screen and (max-width: 768px) {
    .box-title {
        margin: 2.5rem auto 5.625rem auto;
    }
}

@media only screen and (max-height: 820px) {
    .box-title {
        margin: 2.5rem auto 5.625rem auto;
    }

    .box-title h1 {
        font-size: 3.125rem;
    }

    .search-box h3 {
        font-size: 0.938rem;
    }

    .search-box input {
        margin: 0 0 0.62rem 0;
    }

}
